# Dependencies
/node_modules
laravel_backend/vendor
laravel_backend/node_modules
python_ai_service/__pycache__
python_ai_service/.venv

# Environment
.env
.env.backup
.env.production
.env.local

# Laravel
laravel_backend/storage/*.key
laravel_backend/public/hot
laravel_backend/public/storage
laravel_backend/public/build
laravel_backend/bootstrap/cache/*.php

# IDE
/.fleet
/.idea
/.vscode

# OS
*.swp
*.swo
.DS_Store
Thumbs.db

# Build
npm-debug.log
yarn-error.log
